body{
  font-family: monospace, san-serif;
  color: black;
  margin: 0px;
  padding: 0px;
}

h4 {
  text-decoration: underline;

}

.header{
  background-color: #F0A28E;
  color: white;
  margin: 0px;
  border: 0px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)


}

.blog{
  display: flex;
  margin: 15px;
}

.entry{
  width: 90%;
}
