h1 {
  background-color: #1C99E2;
  color: white;
  font-weight: 300;
  font-size: 34px;
  margin: 0px;
  border: 0px;
  padding: 8px;

}

 a {
  text-decoration: none;
  color: black;
}

body{
  font-family: Roboto, san-serif;
  background-color: #ECECEC;
  color: black;
  margin: 0px;
}

.navbar{
  background-color: white;
  font-size: 20px;
}

.navitem{
  display: inline-block;
  padding: 5px;
  background-color: white;
}

.navbar-search{
  position: absolute;
  right: 10px;
  border: 0px;
  margin: 2px;
  padding: 0px;

}
.navlist{
  margin: 1px;
}

#navbar-search-input{
  background-color: #ECECEC;
  font-size: 18px;
  color: black;
  border-radius: 3px;
}

#navbar-search-input:active{
  background-color: white;
  font-size: 18px;
  color: black;
  border-radius: 3px;
}

#navbar-search-input:focus{
  background-color: white;
  font-size: 18px;
  color: black;
  border-radius: 3px;
}

#navbar-search-button{
  border: 0px;
  background-color: white;
  font-size: 18px;
}


.active{
  padding: 4px;
  border-bottom: 2px solid #1C99E2;
}
.twit{
  border: 1px solid #CDCDCD;
  background-color: white;
  margin: 3px;
  padding: 3px;
  display: flex;
  flex-basis: 30%;
}

.twit-content{
  min-width: 200px;
  right: 5px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.twit-container{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;



}
.fas.fa-bullhorn{
  margin: 0px;
}
.twit-text{
  font-size: 18px;
  padding: 0px;


}

.twit-icon{
  font-size: 28px;
  margin: 0px;
  padding: 15px;


}

.twit-author{
  font-weight: bold;
  float:right;
  margin: 0px;
  margin-bottom: 8px;
  margin-right: 10px;
  padding: 0px;
}
.twit-author:hover a{
  color: #1C99E2;
  cursor: pointer;
}
.navlink:hover a{
  color: #1C99E2;
  cursor: pointer;
}
#navbar-search-button:hover i{
  color: #1C99E2;
  cursor: pointer;
}

#create-twit-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:red;
  font-size: 33px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45)
}


#create-twit-button:hover {
  background-color: #1C99E2;
  bottom: 18px;
  right: 18px;
  font-size: 40px;
  width:75px;
  height:75px;
  cursor: pointer;
}
